body {
  font-family: 'Times New Roman', Times, serif;
  font-size: 62.5%;
}
p, ul, ol, dl {
  font-size: 12pt;
  margin-bottom: 20px;
  margin-top: 10px;
  line-height: 25px;
}
article {
  max-width: 620px;
  margin: auto;
}
.width {
  width: 650px;
  margin-top: 10px;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Ubuntu', sans-serif;
}

h2 {
  font-size: 28pt;
  margin: 12pt;
}
h3 {
  font-size: 18pt;
  margin: auto;
  margin-bottom: 12pt;
}
h4 {
  font-size: 12pt;
  margin: 12pt;
}
span {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  font-style: normal;
}
.credit {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  margin-top: 0pt;
  margin-left: 360px;
  margin-right: 0px;
  float: right;
}
blockquote {
  border-left: 4px solid grey;
  padding: 5px;
  /* lowered padding for better spacing */
  margin: 0px;

}
/* p { 
  padding: 2px;
}*/
ol {
  list-style-position: inside;
}

